<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Bienvenido a la Aplicación</h1>
    <nav>
        <ul>
            <li><a href="/inscripcion">Inscripción a Cursos</a></li>
            <li><a href="/registro_usuario">Registro de Usuario</a></li>
            <li><a href="/registro_producto">Registro de Producto</a></li>
            <li><a href="/registro_libro">Registro de Libro</a></li>
        </ul>
    </nav>
</body>
</html>

